.navbar {
    display: inline-block;
    width: 100%;
    background-color: #430f46;
    top: -42px;
  }
  
  .navbar-brand {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-brand:hover {
    color: #ffffff; /* Change hover color as needed */
  }
  
  .navbar .form-control {
    border-color: #ffffff; /* Input border color */
  }
  
  .navbar .btn-primary {
    background-color: #9743a0;
    border-color: #9743a0; /* Button color */
  }
  
  .nav-link {
    color: #ffffff;
    position: relative;
    left: 101.5%;
    display: inline-block;
    top: -1.95vw;
  }
  
  .nav-link:hover {
    color: #ffffff; /* Change hover color as needed */
  }
  
  /* Dashboard */
  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .dropdowns {
    display: flex;
    justify-content: center;
    gap: 20px; /* Adjust space between dropdowns */
    margin-bottom: 20px;
  }
  
  .select-wrapper {
    flex: 1;
  }
  
  select {
    padding: 10px;
    width: 10rem;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    appearance: none;
    background-color: #f9f9f9;
  }
  
  .cards {
    display: flex;
    margin-bottom: 20px;
    align-content: center;
    gap: 10%;
  }
  
  .card {
    background-color: #ffffff;
    flex: 1;
    padding: 20px;
    width: 20vw;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 60px; /* Adjust image size */
    height: auto;
    margin-bottom: 10px;
  }
  
  .card h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }
  
  .card p {
    font-size: 1rem;
    margin: 0;
  }
  
  /* Charging Info */
  .charging-info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .charging-info .charger-dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .charging-info .charger-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .charging-info .charger-blocks span {
    margin: 0 10px;
  }
  
  .charging-info .charger-status {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  
  .charging-info .status-segment {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
  }
  
  .search-bar {
    margin-bottom: 20px;
  }
  
  .search-bar input {
    width: 100%;
    padding: 10px;
  }
  
  .side-cards {
    display: flex;
    gap: 20px;
  }
  
  .side-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .side-card h3 {
    font-size: 1.5rem;
  }
  
  .side-card p {
    font-size: 1rem;
  }
  
  .map-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .map-container img {
    max-width: 100%;
    height: auto;
  }
  