/* src/components/Sidebar.css */
.side-menu {
    font-family: "Times New Roman", Times, serif;
    position: fixed;
    padding: 0;
    height: 69.8125rem;
    background: linear-gradient(to right, #5d2a61, #63247e);
    list-style-type: none;
    overflow: visible;
    transition: ease-out width 0.3s;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    box-shadow: 0px 10px 10px 0px rgba(55, 123, 247, 0.30);
    z-index: 11100;
    transition: width ease-in 0.1s;
  }
  
  .side-menu ~ .side-menu--width-occupancy {
    height: 9rem;
    width: 6.3125rem;
    background-color: red;
    transition: width ease-in 0.1s;
  }
  
  .side-menu.expanded {
    width: 15.25rem;
  }
  
  .side-menu.expanded ~ .side-menu--width-occupancy {
    background-color: red;
    width: 15.25rem;
  }
  
  .side-menu .nav-item {
    box-sizing: border-box;
    width: 6.3125rem;
    transition: width ease-in 0.2s;
  }
  
  .side-menu .nav-item.expanded {
    width: 15.25rem;
  }
  
  .side-menu .nav-item.expanded a {
    display: flex;
    align-items: center;
  }
  
  .side-menu-expand-button {
    position: relative;
    cursor: pointer;
    top: 56px;
    right: -25px;
  }
  
  .side-menu-expand-button-container {
    box-sizing: border-box;
    background: #FFF;
    box-shadow: 0px 2.074px 4.149px rgba(13, 58, 103, 0.30);
    position: absolute;
    display: inline-flex;
    height: 35px;
    width: 35px;
    top: 40px;
    line-height: 50px;
    right: 25px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    align-self: center;
  }
  
  .nav-item a {
    display: block;
    margin-top: 1.88rem;
    font-size: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 1rem 0rem;
  }
  
  .nav-item a:hover {
    color: #888;
  }
  
  .nav-item .img {
    padding: 0rem 1rem;
    margin: 0 0 0 1.2rem;
    width: 3.5vw;
  }
  
  .active-link {
    color: black;
    background: linear-gradient(270deg, #EBF2FF 0%, rgba(235, 242, 255, 0.00) 100%);
    outline: none;
  }
  
  .navbar {
    background: transparent !important;
    height: 6.56rem;
  }
  